<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="div main-content">
            {{>header}}
        <p>This side was created by Gaby M. It uses data from mapbox.com and darksky.net!</p>
        <img src="/img/me.jpg" class="portrait">
        </div>
        
        {{>footer}}
    </body>
</html>